<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqutepets.mapper.AppRichContentMapper">

    <!-- 结果映射 -->
    <resultMap id="BaseResultMap" type="com.aiqutepets.entity.AppRichContent">
        <id column="id" property="id"/>
        <result column="content_key" property="contentKey"/>
        <result column="title" property="title"/>
        <result column="content_html" property="contentHtml"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!-- 基础字段列表 -->
    <sql id="Base_Column_List">
        id, content_key, title, content_html, update_time, create_time
    </sql>

    <!-- 根据内容标识查询 -->
    <select id="findByContentKey" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM app_rich_content
        WHERE content_key = #{contentKey}
    </select>

</mapper>
